
.htr-slider {
    margin-top: 40px;
    width: 100%;
    height: 800px;
    position: relative;
}


.htr-slider-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}


.page-container {
    transition: all 0.3s;
    position: absolute;
    top: 0;
    left: 0;
    width: 400%;
    height: 100%;
    display: flex;
    justify-content: space-around;
}

.page {
    width: calc(100% / 4);
    background-color: white;
}



.prev-btn, .next-btn {
    position: absolute;
    padding: 30px;
    background-color: white;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    box-shadow: 2px 2px 10px black;
    z-index: 1000;
}

.prev-btn {
    left: -20px;
}

.prev-btn:hover {
    left: -40px;
}
.next-btn:hover {
    right: -40px;
}
.next-btn {
    right: -20px;
}


.prev-btn:hover, .next-btn:hover {
    transition: all 0.3s;
    cursor: pointer;
}    


.page {
    overflow-y: scroll;
}


.page::-webkit-scrollbar {
    display: none;
}


.page h2 {
    color: var(--blue);
    font-weight: 800;
    font-size: 32px;
}


.page * {
    color: var(--red);
}



.page .box-chat {
    background-color: rgb(235, 228, 228);
    border-left: 10px solid var(--red);
}


.page:first-child {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}



.page .title {
    position: absolute;
    z-index: 100;
    left: 50%;
    top: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}

.page .title h1 {
    font-size: 8rem;
    font-weight: 1000;
    color: var(--red);
    line-height: 1;
    filter: drop-shadow(4px 4px 10px #ccc);
}

.page .title p {
    margin: 20px;
    text-align: center;
    color: var(--blue);
    font-size: 30px;
    font-weight: 500;
}


.page .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.2);
    top: 0;
    left: 0;
}



