
:root {
    --red: #a2214e;
    --blue: #27143a;
    --white: #ffff;
    --black: #0000;
}




@media (min-width : 1024px) {
    #header i {
        display: none!important;
    }

    #header {
        display: block;
    }
}




@media (max-width: 1023px) {
    body #header {
        height: 8%;
        position: relative;
        padding: 8px 32px;
        z-index: 1000;
    }

    #content .content-container {
        padding: 32px 6%;
    }

    .writeup-tag {
        padding: 20px 20px;
    }

    #header .nav-container {
        z-index: 1000;
        position: absolute;
        right: 0;
        top: calc(100% - 3px);
        animation: activeNav ease-in-out 0.3s;
        transition: all 0.3s;
        display: none;
    }

    .more-btn {
        padding: 0 20px;
    }

    #header .nav-container ul {
        background-color: var(--blue);
        display: block;
    }

    #header .nav-container.active {
        display: block;
    }

    #header .nav-container ul > li {
        display: block;
        padding: 0px 40px;
        text-align: center;
    }

    #header .nav-container ul > li > a {
        justify-content: center;
        font-size: 16px;
    }
    .nav-container li:hover > a::after {
        display: none;
    }

    #header i {
        display: block;
        color: var(--white);
        position: absolute;
        font-size: 32px;
        right: 32px;
        top: 50%;
        transform: translateY(-50%);
    }

    
    #content .role-container {
        padding: 0px;        
    }

    #content .role-btn {
        margin: 0 12px;
        height: 225px;
    }

    #content .slider {
        padding-bottom: 80%;
    }

    #content .about-containter p {
        font-size: 16px;
    }
    

    

    .nav-container ul > li {
        line-height: 2.5;
    }
    
    
}




@media (max-width: 739px) {

    
    #content .slider .learn-more-btn {
        font-size: 14px!important;  
        padding: 12px 24px;
        font-weight: 550;
    }

    .category-container i {
        display: none;
    }


    body #header {
        height: 10%;
        position: relative;
        padding: 8px 24px;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1000;
    }


    #content .slider {
        padding-bottom: 100%;
        margin-top: 60px;
        background-size: cover;
        background-position: center;
        height: auto; 
    }

    #header .nav-container {
        z-index: 1000;
        position: absolute;
        right: 0;
        top: calc(100% - 3px);
        animation: activeNav ease-in-out 0.3s;
        transition: all 0.3s;
        display: none;
    }

    #header .nav-container ul {
        background-color: var(--blue);
        display: block;
    }

    #header .nav-container.active {
        display: block;
    }

    #header .nav-container ul > li {
        display: block;
        padding: 0px 40px;
    }

    #header .nav-container ul > li > a {
        justify-content: center;
        font-size: 14px;
    }
    .nav-container li:hover > a::after {
        display: none;
    }

    #header i {
        display: block;
        color: var(--white);
        position: absolute;
        font-size: 24px;
        right: 24px;
        top: 50%;
        transform: translateY(-50%);
    }

    #content .about {
        height: auto; 
        min-height: 240px;
    }

    #content .about-containter p {
        font-size: 10px;
    }


    #content .about-containter {
        padding: 20px;
        height: auto; 
        flex-direction: column; 
        align-items: center;
    }

    #content .about-containter .about-content {
        margin-left: 0;
        margin-top: 20px;
        width: 100%;
        text-align: center;
    }

    #content .about-containter .about-logo {
        width: 100px;
        height: 100px;
        margin: 0 auto;
    }

    #content .about-containter .about-logo img {
        width: 100%;
        border-radius: 50%;
        margin: auto;
    }

    #content .about-containter .about-btn {
        font-size: 12px;
        padding: 10px 20px;
        position: static; 
        margin-top: 15px;
        display: inline-block;
    }

    #content .member-container {
        padding: 30px 20px;
    }

    #content .member-title p {
        font-size: 24px;
    }

    #content .members-overview {
        height: auto; 
        min-height: 240px;
    }


    #content .member-container .member-title {
        margin-bottom: 20px;
    }



    #content .role-btn {
        width: 80px;
        height: 80px;
        margin: 0 5px;
    }

    #content .role-btn p {
        font-size: 14px;
    }
    


    .title-container {
        margin-top: 60px;
    }

    .content-container {
        padding: 20px 15px; 
        width: 100%;
        box-sizing: border-box;
    }

    .content-container iframe {
        height: 170px;
    }

    .content-container li, .content-container span, .content-container p, .content-container p a {
        font-size: 16px;
    }

    .content-container h2 {
        font-size: 20px;
    }

    .content-container h1 {
        font-size: 26px;
    }

    #footer p {
        font-size: 16px;
    }

    .container .prize-tag {
        width: 100%;
    }

    #content .content-container {
        padding: 20px;
    }

    .write-up-container {
        display: flex;
        flex-wrap: wrap;
    }

    .writeup-tag {
        width: 100%;
        flex-wrap: wrap;
        padding: 20px 20px;
        justify-content: left;
    }
    .writeup-tag:hover {
        opacity: 1;
    }

    .writeup-tag .img-container {
        width: 100%;
    }

    .writeup-tag + .writeup-tag {
        border-top: none;
    }

    .info-container {
        width: 100%;
        padding-left: 0px;
    }

    .info-container .name {
        font-size: 20px;
        margin: 12px 0;
    }

    .info-container .description {
        font-size: 14px;
        margin-bottom: 12px;
    }

    .info-container .data-and-time span,.date, .time {
        font-size: 12px;
    }

    .more-btn {
        padding: 0 20px;
        font-size: 16px;
    }


    .main-title {
        font-size: 30px;
        word-wrap: break-word; 
    }

    .title-container {
        height: 120px;
    }

    .slider .learn-more-btn {
        box-shadow: 0px 6px 0px 0px var(--blue);
    }

    .slider .learn-more-btn:hover {
        background-color: var(--red);
        color: white;
        transform: translate(-50%, 6px);
        animation: hover ease-out .3s;
        transition: all 0.3s;
        box-shadow: none;
    }

    body #main .about-btn {
        box-shadow: 0px 6px 0px 0px var(--red);
    }

    body #main .about-btn:hover {
        background-color: var(--red);
        color: white;
        transform: translate(0, 6px);
        animation: hover ease-out .3s;
        transition: all 0.3s;
        box-shadow: none;
    }

    .content-nav {
        flex-wrap: wrap;
    }

    .years-nav {
        width: 100%!important;
        margin-bottom: 20px;
    }

    .role-nav {
        width: 100%;
    }

    
    
    .page {
        padding: 20px!important;
        width: 25%; 
        box-sizing: border-box;
    }


    #main .page-container {
        width: 400%;
        display: flex; 
    }

    #main .prev-btn, #main .next-btn {
        padding: 20px;
    } 
    
    #main .prev-btn {
        left: -10px;
    }
    
    
    #main .prev-btn:hover {
        left: -20px;
    }
    
    #main .next-btn:hover {
        right: -20px;
    }
    
    #main .next-btn {
        right: -10px;
    }

    #main .page .title h1 {
        font-size: 3rem;
        font-weight: 1000;
        color: var(--red);
        line-height: 1;
        filter: drop-shadow(4px 4px 10px #ccc);
    }
    
    #main .page h2 {
        font-size: 20px;
    }

    #main .page .title p {
        margin: 10px;
        text-align: center;
        color: var(--blue);
        font-size: 12px;
        font-weight: 500;
    }

    #main .info h3 {
        font-size: 13px;
    }

    #main .prize-item .content {
        font-size: 12px;
    }

    .main-title-typing {
        font-size: 2rem !important;
        width: 90% !important;
    }

}


